.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.hotelCard {
  border: 2px solid black;
  border-radius: 5px;
  width: 30%;
  margin: 5px auto;
}

.controls {
  display: inline;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
}

.controls-smash {
  border: 2px solid limeGreen;
  color: limeGreen;
}

.controls-smash:hover {
  border: 2px solid rgb(46, 189, 46);
  color: rgb(46, 189, 46);
}

.controls-pass {
  border: 2px solid red;
  color: red;
}

.controls-pass:hover {
  border: 2px solid rgb(230, 1, 1);
  color: rgb(230, 1, 1);
}

.link {
  border: 2px solid lightgray;
  border-radius: 5px;
  color: lightgray;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

.link:hover {
  border: 2px solid rgb(200, 200, 200);
  color: rgb(200, 200, 200);
}

.list {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.smashListItem {
  border: 2px solid black;
  border-radius: 5px;
  width: 30%;
  margin: 5px auto;
}

.smashListItem h5 {
  margin: 2px;
}

.hotelImage {
  width: 300px;
  height: 300px;
  margin-top: 6px;
}

.listImage {
  width: 75px;
  height: 75px;
  margin-top: 6px;
}